<div class="post post_list post_list_archive">
	<%- eval(theme.before_post_list) %>
	<%- eval(theme.before_post_list_archive) %>
	<%
		var year = 0;
		page.posts.each(function(post) {
			var yearChanged = false, postYear = parseInt(date(post.date, "YYYY"));
			if(year != postYear) {
				year = postYear;
	-%>
				<%- eval(theme.before_archive_year) %>
				<h2 class="year"><%= year %></h2>
				<%- eval(theme.after_archive_year) %>
	<%
			}
	-%>
		<div class="post post_item post_item_archive">
			<%- include("post_info", { post: post }) %>
			<%- eval(theme.before_archive_link) %>
			<a class="title_link" href="<%- url_for(post.path) %>"><%= post.title %></a>
			<%- eval(theme.after_archive_link) %>
		</div>
	<% }) %>
	<%- eval(theme.after_post_list_archive) %>
	<%- eval(theme.after_post_list) %>
</div>