<%- include('include/page_header', { has_page_title: true, page_title: __('archive') }) %>

<%- eval(theme.before_archive_list_container) %>

<div class="post post_list_container">
	<%- include('include/post_list_archive') %>
</div>

<%- eval(theme.after_archive_list_container) %>

<%- include('include/pager_index') %>

<%- include('include/page_footer') %>
